!!!
%head
  %meta{:name => "viewport", :content => "width=device-width,initial-scale=1,user-scalable=no"}
  /[if IE]
    %link{:rel => 'stylesheet' :type => 'text/css' :href => '/mobile.css', :media => 'only screen and (max-device-width: 480px)'}
  
%body
  #container
    = yield