!!!
%head
  %title FlickerTouch
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/jqtouch.css', :media => 'screen'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/themes/jqt/theme.css', :media => 'screen'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/mobile.css', :media => 'screen'}
  %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.4.4.js'}
  %script{:type => 'text/javascript', :src => '/js/jqtouch.js'}
  %script{:type => 'text/javascript', :src => '/js/index.js'}
  
%body
  #gallery
    .toolbar
      %h1 Gallery
    = yield
  #view
    .toolbar
      %a.back Back
      %h1 Image
    #picture
      Some image stuff